*.DS_store

tensorflow_type_detector/tf_files/bottlenecks
tensorflow_type_detector/tf_files/models
tensorflow_type_detector/tf_files/.empty
tensorflow_type_detector/tf_files/retrained_graph.pb
tensorflow_type_detector/tf_files/retrained_labels.txt

tensorflow_color_detector/tf_files/bottlenecks
tensorflow_color_detector/tf_files/models
tensorflow_color_detector/tf_files/.empty
tensorflow_color_detector/tf_files/retrained_graph.pb
tensorflow_color_detector/tf_files/retrained_labels.txt

tensorflow_detect_block/tf_files/bottlenecks
tensorflow_detect_block/tf_files/models
tensorflow_detect_block/tf_files/.empty
tensorflow_detect_block/tf_files/retrained_graph.pb
tensorflow_detect_block/tf_files/retrained_labels.txt

